div{
  background:aqua;
  padding:20px;
  width:300px;
  height:300px;
}

.formulario_ejemplo{
  background:purple;
  padding:50px;
}
.formulario_input{
  color:white;
  background:black;
  padding:10px 50px;
}
.formulario_submit{
  color:red;
  background:Fuchsia;
  text-transform:uppercase;
  width:50%;
}
