p{
  color:blue
}

.ejemplo1{
  color:green
}

.elemento{
  color:grey
}

#secreto{
  color:yellow;
}

.filosofia{
  color:red;
  font-family:serif;
  font-weight:bold;
  font-style:italic;
  text-align:justify;
  line-height:10
}
